<link rel="stylesheet" href="css/dialog.css">
<div class="wrap">
	<div id="login">
		<form action="" method="POST" id="form_login">
		<p>账号：<input type="text" name="name"></p>
		<p>密码：<input type="password" name="password"></p>
		<p><a href="javascript:;" _href="/reg">没有账号?</a><% if (error){%><span><%= error%></span><%}%></p>
		</form>
	</div>
</div>
<script>
	(function($){
		var dialog_login = $.ui.dialog({
			closeBtn: false,
			title:"&nbsp;",
	        buttons: {
	            '登录': function(){
	                $("#form_login").submit();
	            }
	        },
	        content: document.getElementById("login")
	    });
	    dialog_login.data('_wrap').addClass('login-dialog');
	})(Zepto);
</script>